<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Evaluate News Article</title>
</head>

<body>

    <header>
        <div class="">
            Logo
        </div>
        <div class="">
            navigation
        </div>
    </header>

    <main>
        <section>
            <form class="" onsubmit="return Client.handleSubmit(event)">
                <input id="url" type="text" name="url" value="" placeholder="Paste your URL here">
                <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)"
                    onsubmit="return Client.handleSubmit(event)">
            </form>
            <section>

                <section>
                    <strong>Form Results:</strong>
                    <div id="results"></div>
                    <strong>Polarity (DE: Polarität)</strong>
                    <div id="polarity"></div>
                    <strong>Confidence (DE: Konfidenz)</strong>
                    <div id="confidence"></div>
                    <strong>Your Text</strong>
                    <div id="your-text"></div>
                </section>
    </main>

    <footer>
        <p>This is a footer</p>
    </footer>

    <script>
        // Service Worker (Implement later)
    </script>

</body>

</html>